* ::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-grey: #9ba2ac;
  --medium-grey: #808893;
  --medium-blue: #262f38;
  --dark-blue: #1f2630;
  --very-dark-blue: #141519;
  --orange: #f47521;
  --border-radius1: 7%;
  --border-radius2: 100%;
  --border-radius3: 30px;
}

/* general styles */
body {
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
  font-family: 'Overpass', sans-serif;
  background-color: var(
    --very-dark-blue
  );
}

main {
  height: 85vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling the rating main container */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  background-color: var(--dark-blue);
  border-radius: var(--border-radius1);
}

/* Styling the heading and the text */
.logo-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  width: 10px;
  padding: 15px;
  border-radius: var(--border-radius2);
  background: var(--medium-blue);
  transform: translate(-130px, -15px);
}

h1 {
  font-size: 27px;
  font-weight: 600;
  color: white;
  transform: translate(-55px, -15px);
}

p {
  font-size: 13px;
  font-weight: 400;
  width: 34ch;
  color: var(--light-grey);
  transform: translate(-7px, -15px);
}

/* styling the rating buttons */
main .container ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.rating-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  padding: 22px;
  background: var(--medium-blue);
  color: white;
  border-radius: var(--border-radius2);
  cursor: pointer;
  border: none;
}

/* the button style and the footer */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 280px;
  padding: 18px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: var(--border-radius3);
  background-color: var(--orange);
}

.submit {
  transform: translate(0, 20px);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--medium-grey);
  margin: 0;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: var(--orange);
}

/* hover effect for the rating container */
@media (hover: hover) {
  .submit:hover {
    background-color: white;
    color: var(--orange);
  }

  footer a:hover {
    text-decoration: none;
    color: white;
  }

  .rating-style:hover {
    color: white;
    background-color: var(--orange);
  }
  .rating-style:focus {
    color: white;
    background-color: var(--light-grey);
  }
}
@media (hover: none) {
}
/* end of rating container */

/*  thank you container */
.hidden {
  display: none;
}
.thank-you-state h1 {
  font-size: 27px;
  font-weight: 500;
  transform: translate(0, 45px);
}
.thank-you-state .massage {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  width: 35ch;
  transform: translate(0, 20px);
}
.thank-you-state .state-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17ch;
  height: 25px;
  margin: 0;
  padding: 0;
  background-color: var(--medium-blue);
  border-radius: var(--border-radius3);
  transform: translate(0, 45px);
}
.thank-you-state .state-result p {
  width: 16ch;
  color: var(--orange);
  opacity: 0.7;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  transform: translate(2px, 0);
}
.thank-you-state img .img {
  width: 150px;
  margin: 0;
  padding: 0;
  transform: translate(0, 2550px);
}
